/*
MEDIA QUERY MANAGER :

0 - 600px     : phone
600 - 900px   : tab-port
900 - 1200px  : tab-land
[1200-1800px] : is where our normal styles apply
1800px +      : big-dekstop

$breakpoint argument choices :
-phone
-tab-port
-tab-land
-big-desktop

1em = 16px
*/
html {
  font-size: 62.5%;
  box-sizing: border-box;
  color: #fff;
  scroll-behavior: smooth; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0; }
  body::-webkit-scrollbar {
    display: none; }

::selection {
  background-color: #4fab8e;
  color: #fff; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #fff; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-large {
  margin-bottom: 8rem !important; }

.u-margin-bottom-x-large {
  margin-bottom: 10rem !important; }

.u-margin-top-small {
  margin-top: 1.5rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-large {
  margin-top: 8rem !important; }

.u-margin-top-x-large {
  margin-top: 10rem !important; }

.heading-line--small {
  color: #fff;
  border: 1px solid currentcolor;
  width: 5rem;
  margin-top: 1rem; }

.section-title {
  font-size: 5rem;
  letter-spacing: 1px;
  line-height: 4rem; }
  .section-title::after {
    content: "";
    animation: typing 1s steps(2) infinite; }

@keyframes blink {
  0% {
    opacity: 1;
    scale: 0.9;
    background-color: #68a18f; }
  100% {
    opacity: 0;
    scale: 1.6;
    background-color: #76b29f; } }

@keyframes pop-out-primary {
  0% {
    transform: translateY(25rem);
    scale: 0.8; }
  100% {
    transform: translateY(0);
    scale: 1; } }

@keyframes pop-out-secondary {
  0% {
    transform: translateY(-7rem); }
  43% {
    opacity: 0; }
  60% {
    opacity: 1; }
  100% {
    transform: translateY(0rem);
    scale: 1;
    opacity: 1; } }

@keyframes stretch {
  0% {
    width: 0;
    opacity: 0; }
  10% {
    display: block;
    opacity: 1; }
  100% {
    opacity: 1;
    width: 100%; } }

@keyframes pop-out-profile-img {
  0% {
    transform: translateX(-25rem);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes pop-out-profile-text {
  0% {
    transform: translateX(25rem); }
  100% {
    transform: translateX(0); } }

@keyframes pop-out-about {
  0% {
    opacity: 0;
    scale: 0.9; }
  100% {
    opacity: 1;
    scale: 1; } }

@keyframes moov-overlay {
  0% {
    top: -130%; }
  100% {
    top: 170%; } }

@keyframes text-drop {
  0% {
    transform: translateY(7rem);
    opacity: 0;
    display: none; }
  100% {
    display: block;
    opacity: 1;
    transform: translateY(15rem); } }

@keyframes line-strach {
  0% {
    width: 0%;
    opacity: 0; }
  1% {
    opacity: 1; }
  100% {
    opacity: 1;
    width: 50%; } }

@keyframes typing {
  0% {
    content: ""; }
  50% {
    content: "."; }
  100% {
    content: ".."; } }

@keyframes moov {
  0% {
    transform: translateY(8rem);
    opacity: 0;
    filter: brightness(70%); }
  100% {
    transform: translateY(0rem);
    opacity: 1;
    filter: brightness(100%); } }

@keyframes grow-1 {
  0% {
    transform: translateY(50rem); }
  100% {
    transform: translateY(0); } }

@keyframes grow-2 {
  0% {
    transform: translateY(40rem); }
  100% {
    transform: translateY(0); } }

@keyframes moov-up-1 {
  0% {
    transform: translateY(10rem); }
  100% {
    transform: translateY(0rem); } }

@keyframes moov-down-1 {
  0% {
    transform: translateY(0rem); }
  100% {
    transform: translateY(10rem); } }

@keyframes moov-up-2 {
  0% {
    transform: translateY(5rem); }
  100% {
    transform: translateY(-5rem); } }

@keyframes moov-down-2 {
  0% {
    transform: translateY(-5rem); }
  100% {
    transform: translateY(5rem); } }

@keyframes shake-top-down {
  0% {
    transform: translateY(0); }
  25% {
    transform: translateY(-5px); }
  50% {
    transform: translateY(5px); }
  75% {
    transform: translateY(-5px); }
  100% {
    transform: translateY(0); } }

@keyframes move-down-notification {
  0% {
    top: -4rem;
    opacity: 0; }
  100% {
    top: 4rem;
    opacity: 1; } }

@keyframes fade-out-notification {
  0% {
    top: 4rem;
    opacity: 1; }
  100% {
    top: 4rem;
    opacity: 0; } }

@keyframes animate-notification {
  0% {
    transform: scale(1.5); }
  100% {
    transform: scale(1); } }

@keyframes animate-notification-reverse {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(1.5); } }

@keyframes expand-toster {
  0% {
    width: 5.45rem; }
  100% {
    width: 30rem; } }

@keyframes shrink-toster {
  0% {
    width: 30rem; }
  100% {
    width: 5.45rem; } }

.skill-content-grid {
  width: 100%;
  height: 100%;
  display: grid;
  transition: all 1s ease-in-out;
  perspective: 1000px; }
  @media only screen and (min-width: 45em) {
    .skill-content-grid {
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(3, 1fr);
      gap: 1.6rem; } }
  @media only screen and (min-width: 45em) and (max-width: 65.625em) {
    .skill-content-grid {
      gap: 1.2rem; } }
  @media only screen and (max-width: 45em) {
    .skill-content-grid {
      grid-template-rows: repeat(5, 1fr);
      grid-template-columns: repeat(4, 1fr);
      gap: 1.6rem; } }
  @media only screen and (max-width: 45em) and (max-width: 65.625em) {
    .skill-content-grid {
      gap: 1rem; } }

.skill-content-overlay {
  position: absolute;
  transform: rotateZ(-45deg);
  top: -130%;
  left: -40%;
  width: 200%;
  height: 8rem;
  background-image: linear-gradient(0deg, transparent 0%, #ffffff97 50%, transparent);
  z-index: 100; }

@media only screen and (min-width: 45em) {
  .skill-content {
    margin: auto;
    width: 107.5rem;
    height: 59rem;
    position: relative;
    overflow: hidden;
    user-select: none;
    box-sizing: content-box;
    outline: 1.1rem solid #4fab8e;
    padding: 1.1rem; } }
  @media only screen and (min-width: 45em) and (max-width: 65.625em) {
    .skill-content {
      width: 80rem;
      height: 50rem; } }
  @media only screen and (min-width: 45em) and (max-width: 45em) {
    .skill-content {
      display: none; } }

@media only screen and (max-width: 45em) {
  .skill-content {
    width: 58rem;
    height: 75rem;
    overflow: hidden;
    outline: 1rem solid #4fab8e;
    outline-offset: 1rem;
    margin: auto; } }
  @media only screen and (max-width: 45em) and (max-width: 31.25em) {
    .skill-content {
      scale: 0.8;
      transform-origin: top left; } }

.animat-overlay {
  animation: moov-overlay 1.5s ease-in-out forwards; }

.skill {
  padding: 1rem;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right bottom, #76b29f, #68a18f, #4fab8e);
  transition: all 0.5s;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-content: center;
  position: relative; }
  .skill:hover:not(.skill-expand) {
    filter: brightness(110%);
    border: 1px solid currentcolor; }
  .skill > img {
    width: 9rem;
    transition: all 1s; }
    @media only screen and (max-width: 65.625em) {
      .skill > img {
        width: 7.5rem; } }
  .skill > hr {
    transform-origin: right;
    transform: translateY(-7rem);
    border: 1px solid currentcolor; }
  .skill > p {
    position: absolute;
    top: 20rem;
    padding: 0rem 5rem;
    letter-spacing: 2px;
    width: 80%;
    font-size: 1.6rem;
    color: currentColor;
    text-align: center;
    transform: translateY(15rem); }
    @media only screen and (max-width: 65.625em) {
      .skill > p {
        top: 15rem; } }
  .skill--1 {
    grid-area: 1/1 / span 2 / span 1;
    box-shadow: inset -2px -2px 10px rgba(0, 0, 0, 0.2); }
    @media only screen and (max-width: 45em) {
      .skill--1 {
        grid-area: 1/1 / span 2 / span 1; } }
    @media only screen and (min-width: 45em) {
      .skill--1-expand {
        margin-right: calc(-400% - 6.4rem);
        margin-bottom: -100%; } }
  @media only screen and (min-width: 45em) and (max-width: 65.625em) {
    .skill--1-expand {
      margin-right: calc(-400% - 4.8rem);
      margin-bottom: calc(-100% - 2.4rem); } }
  .skill--2 {
    grid-area: 1/2 / span 1 / span 2;
    box-shadow: inset -2px -2px 10px rgba(0, 0, 0, 0.2); }
    @media only screen and (max-width: 45em) {
      .skill--2 {
        grid-area: 1/2 / span 1 / span 2; } }
    @media only screen and (min-width: 45em) {
      .skill--2-expand {
        margin-left: calc(-50% - 0.8rem);
        margin-right: calc(-100% - 1.6rem);
        margin-bottom: calc(-100% + 1.6rem); } }
  @media only screen and (min-width: 45em) and (max-width: 65.625em) {
    .skill--2-expand {
      margin-left: calc(-50% - 0.6rem);
      margin-right: calc(-100% - 1.32rem);
      margin-bottom: calc(-100% - 2.88rem); } }
    .skill--2 > img {
      width: 11rem; }
      @media only screen and (max-width: 65.625em) {
        .skill--2 > img {
          width: 9rem; } }
  .skill--3 {
    grid-area: 1/4 / span 2 / span 1;
    box-shadow: inset 2px -2px 10px rgba(0, 0, 0, 0.2); }
    @media only screen and (max-width: 45em) {
      .skill--3 {
        grid-area: 3/1 / span 1 / span 2; } }
    @media only screen and (min-width: 45em) {
      .skill--3-expand {
        margin-left: calc(-300% - 4.8rem);
        margin-right: calc(-100% - 1.6rem);
        margin-bottom: -100%; } }
  @media only screen and (min-width: 45em) and (max-width: 65.625em) {
    .skill--3-expand {
      margin-left: calc(-300% - 3.6rem);
      margin-right: calc(-100% - 1.2rem);
      margin-bottom: calc(-100% - 2.4rem); } }
  .skill--4 {
    grid-area: 1/5 / span 1 / span 1;
    box-shadow: inset 2px -2px 10px rgba(0, 0, 0, 0.2); }
    @media only screen and (max-width: 45em) {
      .skill--4 {
        grid-area: 1/4 / span 1 / span 1; } }
    @media only screen and (min-width: 45em) {
      .skill--4-expand {
        margin-left: calc(-400% - 6.4rem);
        margin-bottom: -200%; } }
  @media only screen and (min-width: 45em) and (max-width: 65.625em) {
    .skill--4-expand {
      margin-left: calc(-400% - 4.8rem);
      margin-bottom: calc(-200% - 4.08rem); } }
  .skill--5 {
    grid-area: 3/1 / span 1 / span 1;
    box-shadow: inset -2px 2px 10px rgba(0, 0, 0, 0.2); }
    @media only screen and (max-width: 45em) {
      .skill--5 {
        grid-area: 4/1 / span 1 / span 1; } }
    @media only screen and (min-width: 45em) {
      .skill--5-expand {
        margin-right: calc(-400% - 6.4rem);
        margin-top: -200%; } }
  @media only screen and (min-width: 45em) and (max-width: 65.625em) {
    .skill--5-expand {
      margin-right: calc(-400% - 4.92rem);
      margin-top: calc(-200% - 4.08rem); } }
  .skill--6 {
    grid-area: 2/2 / span 2 / span 1;
    box-shadow: inset -2px 2px 10px rgba(0, 0, 0, 0.2); }
    @media only screen and (max-width: 45em) {
      .skill--6 {
        grid-area: 2/3 / span 2 / span 2; } }
    @media only screen and (min-width: 45em) {
      .skill--6-expand {
        margin-right: calc(-300% - 4.8rem);
        margin-left: calc(-100% - 1.6rem);
        margin-top: -100%; } }
  @media only screen and (min-width: 45em) and (max-width: 65.625em) {
    .skill--6-expand {
      margin-right: calc(-300% - 3.6rem);
      margin-left: calc(-100% - 1.2rem);
      margin-top: calc(-100% - 2.04rem); } }
  .skill--7 {
    grid-area: 2/3 / span 1 / span 1;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3); }
    @media only screen and (max-width: 45em) {
      .skill--7 {
        grid-area: 2/2 / span 1 / span 1; } }
    @media only screen and (min-width: 45em) {
      .skill--7-expand {
        margin: calc(-100%) calc(-200% - 3.2rem); } }
  @media only screen and (min-width: 45em) and (max-width: 65.625em) {
    .skill--7-expand {
      margin: calc(-100% - 2.04rem) calc(-200% - 2.52rem); } }
  .skill--8 {
    grid-area: 2/5 / span 2 / span 1;
    box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.2); }
    @media only screen and (max-width: 45em) {
      .skill--8 {
        grid-area: 4/2 / span 1 / span 3; } }
    @media only screen and (min-width: 45em) {
      .skill--8-expand {
        margin-left: calc(-400% - 6.4rem);
        margin-top: -100%; } }
  @media only screen and (min-width: 45em) and (max-width: 65.625em) {
    .skill--8-expand {
      margin-left: calc(-400% - 4.8rem);
      margin-top: calc(-100% - 2.4rem); } }
    .skill--8 > img {
      width: 7rem; }
      @media only screen and (max-width: 65.625em) {
        .skill--8 > img {
          width: 6rem; } }
  .skill--9 {
    grid-area: 3/3 / span 1 / span 2;
    box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.2); }
    @media only screen and (max-width: 45em) {
      .skill--9 {
        grid-area: 5/1 / span 1 / span 4; } }
    @media only screen and (min-width: 45em) {
      .skill--9-expand {
        margin-right: calc(-50% - 0.8rem);
        margin-left: calc(-100% - 1.6rem);
        margin-top: calc(-100% + 1.6rem); } }
  @media only screen and (min-width: 45em) and (max-width: 65.625em) {
    .skill--9-expand {
      margin-right: calc(-50% - 0.6rem);
      margin-left: calc(-100% - 1.2rem);
      margin-top: calc(-100% - 2.88rem); } }
    .skill--9 > img {
      width: 12rem; }
      @media only screen and (max-width: 65.625em) {
        .skill--9 > img {
          width: 11rem; } }
  .skill-expand {
    box-shadow: none; }
    .skill-expand > img {
      transform: translateY(-9rem);
      transition: all 1s;
      transition-delay: 0.8s;
      scale: 1.1; }
    .skill-expand > hr {
      width: 50%;
      animation: line-strach 1s backwards ease-in-out;
      animation-delay: 1.5s; }
    .skill-expand > p {
      animation: text-drop 1s backwards ease-in-out;
      animation-delay: 2.5s;
      font-size: 1.6rem; }

.hero-image {
  width: 25rem;
  animation: pop-out-profile-img 0.8s forwards cubic-bezier(0.58, -0.01, 0.35, 1.33); }

.profile-description {
  background-color: #f6f2f2;
  width: 70%;
  padding: 3rem 4rem;
  font-size: 2rem;
  align-self: flex-end;
  letter-spacing: 1px;
  line-height: 3rem;
  margin-right: -25rem;
  border-radius: 5px;
  margin-bottom: 0;
  z-index: 10;
  color: black;
  box-shadow: 0 0.5rem 2rem rgba(65, 65, 65, 0.2);
  animation: pop-out-profile-text 0.8s forwards cubic-bezier(0.58, -0.01, 0.35, 1.33); }
  @media only screen and (max-width: 75em) {
    .profile-description {
      padding: 2rem 3rem; } }
  @media only screen and (max-width: 75em) {
    .profile-description {
      padding: 1.5rem 2.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .profile-description {
      width: 100%;
      letter-spacing: 0.5px;
      font-size: 1.8rem; } }

.about_section-content {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  width: 100%;
  margin-top: 10rem;
  justify-content: space-between;
  position: relative;
  overflow: hidden; }
  @media only screen and (max-width: 75em) {
    .about_section-content {
      gap: 3rem; } }
  @media only screen and (max-width: 56.25em) {
    .about_section-content {
      gap: 4rem;
      flex-direction: column; } }
  .about_section-content > div {
    flex: 1; }
  .about_section-content::after {
    position: absolute;
    content: "";
    background-image: url(../../img/quote-white.png);
    background-size: cover;
    top: -5rem;
    left: -4rem;
    width: 21rem;
    height: 21rem;
    opacity: 0.2; }

.about-content {
  width: 100%; }
  .about-content--secondary {
    font-size: 1.6rem;
    letter-spacing: 1px;
    line-height: 3rem;
    hyphens: auto; }
    .about-content--secondary::first-letter {
      font-size: 3rem; }
  .about-content + hr {
    border: 1px solid rgba(118, 178, 159, 0.5); }

.personal-details {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  font-size: 1.6rem;
  min-width: 55rem; }
  @media only screen and (max-width: 62.5em) {
    .personal-details {
      min-width: 42rem; } }
  @media only screen and (max-width: 37.5em) {
    .personal-details {
      flex-direction: column;
      min-width: 100%; } }

.detail {
  width: 43%;
  display: flex;
  background-image: url("../img/right-arrow.svg");
  background-size: 2.2rem;
  background-position: center left -0.5rem;
  background-repeat: no-repeat;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  margin-bottom: 2rem; }
  @media only screen and (max-width: 62.5em) and (min-width: 56.25em) {
    .detail {
      width: 100%; } }
  @media only screen and (max-width: 37.5em) {
    .detail {
      width: fit-content; } }
  .detail > span {
    margin-left: 2.2rem;
    font-weight: 500;
    margin-right: 1rem;
    border-bottom: 1px solid currentcolor; }
  .detail:nth-child(6) {
    flex-grow: 1; }
    .detail:nth-child(6) > p {
      word-break: break-all; }

.hobies {
  margin-top: 2.5rem; }
  .hobies > h2 {
    line-height: 1rem;
    letter-spacing: 1px; }
  .hobies > p::first-letter {
    font-size: 2.2rem; }
  .hobies > p {
    letter-spacing: 1px;
    hyphens: auto; }
    @media only screen and (max-width: 37.5em) {
      .hobies > p {
        width: 100%; } }

.header-content {
  height: 50rem;
  color: #fff;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  z-index: 0;
  outline: none;
  z-index: 5;
  background-image: linear-gradient(to bottom right, #68a18f, #1c6f55); }

.text {
  line-height: 2rem;
  padding: 0;
  margin: 2rem; }

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: fit-content;
  height: fit-content; }
  @media only screen and (max-width: 31.25em) {
    .text-container {
      margin-bottom: 10rem; } }

.primary-text {
  font-size: 5rem;
  letter-spacing: 5px;
  animation: pop-out-primary 0.8s forwards cubic-bezier(0.58, -0.01, 0.35, 1.33); }
  .primary-text + .hr {
    border-bottom: 2px solid currentcolor;
    align-items: center;
    z-index: 10;
    width: 0;
    opacity: 0;
    animation: stretch 0.5s forwards cubic-bezier(0.85, -0.01, 0.3, 1.74) 0.8s; }

.secondary-text {
  font-size: 3rem;
  letter-spacing: 4px;
  animation: pop-out-secondary 0.6s forwards cubic-bezier(0.58, -0.01, 0.35, 1.33) 1.2s;
  opacity: 0; }

.header-navigation {
  background-color: #76b29f;
  border-radius: 3px;
  position: fixed;
  width: 30rem;
  height: 6rem;
  left: -28rem;
  top: 4rem;
  transition: all 0.5s cubic-bezier(0.71, -0.01, 0.32, 1.6);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5rem;
  padding-right: 3rem;
  z-index: 100; }
  .header-navigation:hover {
    left: -5rem; }

.download-btn,
.download-btn:link,
.download-btn:visited {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.8rem;
  letter-spacing: 1px;
  cursor: pointer;
  text-decoration: none;
  text-underline-offset: 0.5rem;
  color: #fff; }

.download-btn--header:hover {
  text-decoration: underline; }

.download-icon {
  width: 2.5rem; }

.main-navigation {
  position: fixed;
  width: 10rem;
  height: 10rem;
  top: 3rem;
  right: 3rem;
  border-radius: 10rem;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.58, -0.01, 0.35, 1.33);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.2);
  overflow: hidden;
  z-index: 1000; }
  .main-navigation:not(:hover) {
    transition-delay: 0.9s; }
  .main-navigation:hover {
    height: 50rem; }
    .main-navigation:hover > .nav-icon {
      content: url("../img/menu.svg"); }
    .main-navigation:hover > .menu-box > .menu-item--1 {
      bottom: 20rem;
      transition-delay: 0.7s; }
    .main-navigation:hover > .menu-box > .menu-item--2 {
      bottom: 14rem;
      transition-delay: 0.5s; }
    .main-navigation:hover > .menu-box > .menu-item--3 {
      bottom: 8rem;
      transition-delay: 0.3s; }
    .main-navigation:hover > .menu-box > .menu-item--4 {
      bottom: 2rem;
      transition-delay: 0.1s; }
  .main-navigation::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 10rem;
    background-color: transparent;
    backdrop-filter: blur(5px) brightness(95%);
    z-index: -10; }

.nav-icon {
  width: 4rem; }

.menu-box {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  font-size: 2.2rem;
  text-transform: capitalize;
  width: 10rem;
  height: 82%;
  margin-bottom: 2rem;
  position: relative; }

.center {
  position: absolute;
  top: 5rem;
  left: 50%;
  transform: translate(-50%, -50%); }

.menu-item {
  gap: 1.5rem;
  padding: 0.5rem;
  padding-bottom: 0;
  position: absolute;
  transition: all 0.3s cubic-bezier(0.58, -0.01, 0.35, 1.33);
  bottom: 45rem; }
  .menu-item--1 {
    transition-delay: 0s; }
  .menu-item--2 {
    transition-delay: 0.2s; }
  .menu-item--3 {
    transition-delay: 0.4s; }
  .menu-item--4 {
    transition-delay: 0.6s; }

.menu-icon {
  width: 3rem; }

.menu-item:hover .menu-icon {
  transform: scale(1.1);
  transition: all 0.3s cubic-bezier(0.58, -0.01, 0.35, 1.33); }

.menu-item:nth-child(1):hover .menu-icon {
  content: url("../img/home.svg"); }

.menu-item:nth-child(2):hover .menu-icon {
  content: url("../img/person.svg"); }

.menu-item:nth-child(3):hover .menu-icon {
  content: url("../img/doc.svg"); }

.menu-item:nth-child(4):hover .menu-icon {
  content: url("../img/contact.svg"); }

.education_section-content {
  position: relative;
  z-index: 10;
  overflow: hidden; }
  .education_section-content::after {
    position: absolute;
    content: "";
    background-image: url(../../img/education.svg);
    background-size: cover;
    width: 18rem;
    height: 18rem;
    transform: rotate(20deg);
    top: 4rem;
    right: 3rem;
    opacity: 0.1; }

.education-container {
  display: flex;
  justify-content: space-between; }

.education-content {
  display: flex;
  width: 100%;
  gap: 2.5rem;
  overflow: hidden;
  padding-left: 1rem;
  margin-left: -1rem; }
  .education-content:last-child .entry-point {
    background-color: #529782; }
  @media only screen and (min-width: 43.75em) {
    .education-content:first-child > .education-entry > .education-details--3 {
      display: none; } }
  @media only screen and (max-width: 43.75em) {
    .education-content:nth-of-type(2) {
      display: none; } }
  .education-content:nth-of-type(2) .education-divider.show-animate {
    animation: grow-1 0.8s backwards ease-in-out 0.8s; }

.education-divider {
  border: 1px solid currentcolor;
  opacity: 0; }
  .education-divider.show-animate {
    opacity: 1;
    animation: grow-1 0.8s ease-in-out; }

.education-details {
  position: relative;
  opacity: 0; }
  .education-details:not(:last-child) {
    margin-bottom: 4rem; }
  .education-details--1.show-animate {
    opacity: 1;
    animation: grow-1 0.8s ease-in-out; }
  .education-details--2.show-animate {
    opacity: 1;
    animation: grow-2 0.9s backwards ease-in-out 0.3s; }
  .education-details--3.show-animate {
    opacity: 1; }
    @media only screen and (min-width: 43.75em) {
      .education-details--3.show-animate {
        animation: grow-1 0.8s backwards ease-in-out 0.8s; } }
    @media only screen and (max-width: 43.75em) {
      .education-details--3.show-animate {
        animation: grow-2 0.8s backwards ease-in-out 0.6s; } }

.entry-point {
  width: 2rem;
  height: 2rem;
  top: 0;
  left: -3.5rem;
  border: 2px solid #fff;
  border-radius: 50%;
  position: absolute;
  background-color: #68a18f; }

.education-degree {
  font-size: 2.3rem;
  letter-spacing: 1px;
  line-height: 2rem;
  margin-bottom: 2.5rem; }

.education-year {
  font-size: 1.6rem;
  letter-spacing: 1px;
  background-color: #76b29f;
  border-radius: 3px;
  width: fit-content;
  padding: 0.5rem 1rem;
  margin-bottom: 0.7rem; }

.education-institute {
  font-size: 1.7rem;
  letter-spacing: 1px; }

.education-score {
  font-size: 1.1rem;
  letter-spacing: 1px; }

.project-grid {
  display: grid;
  margin: auto;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(400px, 0.6fr));
  justify-content: center;
  gap: 5rem; }
  @media only screen and (max-width: 27em) {
    .project-grid {
      grid-template-columns: repeat(auto-fit, minmax(110%, 0.6fr)); } }

.project-container {
  padding: 1.5rem;
  border-radius: 10px;
  display: none; }
  .project-container:nth-child(1).show-animate {
    display: block;
    animation: moov 1s backwards ease-in-out; }
  .project-container:nth-child(2).show-animate {
    display: block;
    animation: moov 1s backwards ease-in-out 0.1s; }
  .project-container:nth-child(3).show-animate {
    display: block;
    animation: moov 1s backwards ease-in-out 0.2s; }
  .project-container:nth-child(4).show-animate {
    display: block;
    animation: moov 1s backwards ease-in-out 0.3s; }
  .project-container:nth-child(5).show-animate {
    display: block;
    animation: moov 1s backwards ease-in-out 0.4s; }
  .project-container:nth-child(6).show-animate {
    display: block;
    animation: moov 1s backwards ease-in-out 0.5s; }
  .project-container .project-item {
    border-radius: 3px;
    width: 100%;
    height: 30rem;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    outline: 2px solid #fff;
    position: relative;
    z-index: 10; }
    @media only screen and (max-width: 56.25em) {
      .project-container .project-item {
        height: 35rem; } }
    @media only screen and (max-width: 27em) {
      .project-container .project-item {
        height: 30rem; } }
    .project-container .project-item__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: scale(1.15);
      /* Apply scaling on hover */
      transition: all 0.3s; }
    .project-container .project-item__name {
      position: absolute;
      top: -2rem;
      left: 50%;
      transform: translateX(-50%);
      font-size: 2.2rem;
      letter-spacing: 2px;
      transition: all 0.3s;
      opacity: 0;
      line-height: 1.8rem; }
    .project-container .project-item__description {
      position: absolute;
      bottom: -2rem;
      left: 0;
      padding: 1rem 2rem;
      hyphens: auto;
      font-size: 1.6rem;
      letter-spacing: 1px;
      transition: all 0.3s;
      opacity: 0;
      height: 16rem; }
    .project-container .project-item__links {
      opacity: 0;
      width: 5rem;
      height: 8rem;
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: center;
      justify-content: center;
      transform: all 0.3s; }
      .project-container .project-item__links .project-item__link {
        width: 2.5rem;
        height: 2.5rem;
        opacity: 0.5;
        transition: opacity 0.2s; }
        .project-container .project-item__links .project-item__link:hover {
          opacity: 1; }
        .project-container .project-item__links .project-item__link--website {
          background-image: url(../../img/link.svg);
          background-position: top;
          background-size: cover; }
        .project-container .project-item__links .project-item__link--github {
          background-image: url(../../img/github.svg);
          background-position: top;
          background-size: cover; }
    .project-container .project-item:hover .project-item__img {
      filter: brightness(70%) blur(3px);
      transform: scale(1.05); }
    .project-container .project-item:hover .project-item__name {
      top: 25%;
      opacity: 1; }
    .project-container .project-item:hover .project-item__description {
      bottom: 10%;
      opacity: 1;
      overflow-y: scroll;
      margin: 0 0.5rem; }
      @media only screen and (max-width: 56.25em) {
        .project-container .project-item:hover .project-item__description {
          bottom: 15%; } }
      .project-container .project-item:hover .project-item__description::-webkit-scrollbar {
        width: 3px; }
      .project-container .project-item:hover .project-item__description::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: #d3d3d3b8; }
      .project-container .project-item:hover .project-item__description::-webkit-scrollbar-thumb:hover {
        background: #d1d1d1; }
    .project-container .project-item:hover .project-item__links {
      opacity: 1; }
  .project-container .project-tech {
    font-size: 1.6rem;
    display: flex;
    flex-wrap: wrap;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    justify-content: center;
    gap: 1rem; }
    .project-container .project-tech > p {
      font-size: 1.6rem;
      letter-spacing: 1px;
      background-color: #76b29f;
      border-radius: 3px;
      width: fit-content;
      text-align: center;
      padding: 0.5rem 1.1rem;
      margin-bottom: 0.7rem;
      text-transform: capitalize; }
  .project-container .project-btn {
    padding: 1rem 3rem;
    font-size: 1.6rem;
    letter-spacing: 1px;
    border-radius: 5px;
    width: 100%;
    border: 2px solid #76b29f;
    background-color: transparent;
    cursor: pointer; }
    .project-container .project-btn:disabled {
      cursor: not-allowed; }
    .project-container .project-btn:hover {
      background-color: rgba(79, 171, 142, 0.2);
      border: 2px solid transparent; }
    .project-container .project-btn:active {
      border: 2px solid transparent;
      background-color: rgba(79, 171, 142, 0.3); }
  .project-container--link, .project-container--link:visited, .project-container--link:link {
    color: #000; }

.contact_section-content {
  display: flex;
  gap: 5rem;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  z-index: 10; }
  @media only screen and (max-width: 50em) {
    .contact_section-content {
      flex-direction: column; } }
  .contact_section-content::after {
    position: absolute;
    content: "";
    background-image: url(../../img/contact-info.svg);
    background-size: cover;
    bottom: 2rem;
    right: 2rem;
    width: 7rem;
    height: 7rem;
    opacity: 0.2;
    z-index: -1; }

.contact-details {
  flex: 1; }
  .contact-details + hr {
    border: 1px solid rgba(118, 178, 159, 0.5); }

.contact-info {
  background-color: #76b29f;
  display: flex;
  gap: 2rem;
  padding: 0.8rem 2rem;
  border-radius: 5px; }
  .contact-info:not(:last-child) {
    margin-bottom: 2rem; }
  .contact-info--icon {
    width: 3rem; }
  .contact-info--details {
    display: flex;
    flex-direction: column;
    letter-spacing: 1px; }
    .contact-info--details > h2 {
      font-size: 1.8rem; }
    .contact-info--details > p {
      font-size: 1.5rem;
      word-break: break-all; }

.contact-form {
  flex: 2; }

.form__group--combine {
  display: flex;
  gap: 4rem; }
  .form__group--combine > div {
    flex: 1; }

.form__group:not(:last-child) {
  margin-bottom: 1rem; }

.form__input {
  color: inherit;
  font-size: 1.5rem;
  font-family: inherit;
  width: 100%;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: #76b29f;
  border: none;
  border-bottom: 3px solid transparent;
  display: block; }
  .form__input--message {
    resize: none; }
  .form__input:focus {
    outline: none;
    border-bottom: 3px solid #4fab8e;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1); }
    .form__input:focus:invalid {
      border-bottom: 3px solid #da6b43; }
  .form__input::placeholder {
    color: #fff;
    letter-spacing: 1px; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
  transform: translateY(0rem);
  letter-spacing: 1px; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.btn {
  padding: 1rem 3rem;
  color: #fff;
  background-color: #76b29f;
  letter-spacing: 1px;
  font-size: 1.6rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.2s; }
  .btn:hover {
    background-color: #68a18f;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1); }
  .btn:active {
    background-color: #68a18f;
    box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.05); }

.footer-plate {
  background-color: #76b29f;
  letter-spacing: 2px;
  position: absolute;
  top: -4rem;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 8rem;
  padding: 1.5rem 4rem;
  width: max-content;
  overflow: hidden;
  box-shadow: 0 3px 8px rgba(54, 54, 54, 0.1); }
  .footer-plate-text {
    font-size: 3rem;
    font-weight: 400;
    color: #fff; }
    .footer-plate-text--1 {
      transform: translateY(10rem); }
    .footer-plate-text--2 {
      transform: translateY(5rem); }

.footer-section {
  width: 40rem;
  height: 10rem;
  position: absolute;
  padding: 2rem;
  padding-top: 3rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-top: 2px solid #fff; }
  .footer-section .media-icons {
    height: 5rem;
    width: 100%;
    display: flex;
    justify-content: space-around; }
    .footer-section .media-icons > a {
      display: block;
      width: 5rem;
      height: 5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      display: flex;
      cursor: pointer;
      transition: all 0.1s; }
      .footer-section .media-icons > a > img {
        width: 3.3rem; }
      .footer-section .media-icons > a:hover {
        background-color: rgba(118, 178, 159, 0.8);
        box-shadow: 0 3px 8px rgba(54, 54, 54, 0.15); }

.download-btn--footer,
.download-btn--footer:link,
.download-btn--footer:visited {
  background-color: #76b29f;
  border-radius: 3px;
  padding: 1rem 2rem;
  letter-spacing: 1px;
  position: absolute;
  right: 3rem;
  bottom: 3rem;
  box-shadow: 0 3px 8px rgba(54, 54, 54, 0.1); }
  @media only screen and (min-width: 37.5em) {
    .download-btn--footer:hover > img,
    .download-btn--footer:link:hover > img,
    .download-btn--footer:visited:hover > img {
      animation: shake-top-down 0.5s ease-in-out infinite; } }

.toster {
  position: fixed;
  top: -10rem;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1000; }
  .toster-blink {
    position: absolute;
    border-radius: 10rem;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }
  .toster-content {
    padding: 0.5rem;
    background-color: #76b29f;
    border-radius: 10rem;
    box-shadow: 0 3px 8px rgba(54, 54, 54, 0.15);
    display: flex;
    align-items: center;
    gap: 1.5rem;
    width: 30rem;
    transform-origin: center left;
    overflow: hidden; }
  .toster-message {
    font-size: 2.5rem;
    letter-spacing: 1px;
    font-weight: 700;
    white-space: nowrap; }
  .toster-icon {
    width: 4.5rem; }

.container {
  width: 100%;
  background-color: #e3ded9; }

.section {
  min-height: 100vh; }

.about-section {
  opacity: 0;
  padding: 1rem;
  padding-bottom: 10rem; }
  .about-section.show-animate {
    animation: pop-out-about 1s cubic-bezier(0.58, -0.01, 0.35, 1.33) forwards; }

.profile-section {
  position: absolute;
  bottom: 8rem;
  height: 54rem;
  box-sizing: content-box;
  right: 5rem;
  display: flex;
  flex-direction: row-reverse;
  padding-left: 3rem; }
  @media only screen and (max-width: 56.25em) {
    .profile-section {
      top: 35%;
      right: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .profile-section {
      top: 33%; } }

.skill-section {
  width: 100%;
  padding: 5rem 4rem;
  position: relative;
  overflow: hidden;
  user-select: none;
  background-color: rgba(118, 178, 159, 0.3);
  padding-bottom: 10rem;
  z-index: 10; }
  .skill-section::after {
    position: absolute;
    z-index: -1;
    content: "";
    width: 25rem;
    height: 25rem;
    top: 5rem;
    right: 3rem;
    opacity: 0.15;
    background-image: url(../../img/skill.png);
    background-size: cover;
    background-position: top right; }
  @media only screen and (max-width: 31.25em) {
    .skill-section {
      padding: 5rem 4rem 0rem 4rem; } }
  @media only screen and (max-width: 26em) {
    .skill-section {
      width: 100%;
      overflow-x: scroll; } }

.education-section {
  padding: 1rem; }

.project-section {
  padding: 2rem;
  padding: 5rem 4rem;
  padding-bottom: 7rem;
  background-color: rgba(118, 178, 159, 0.3); }

.contact-section {
  opacity: 0;
  padding: 1rem;
  padding-bottom: 10rem; }
  .contact-section.show-animate {
    animation: pop-out-about 1s cubic-bezier(0.58, -0.01, 0.35, 1.33) forwards; }

.footer {
  background-color: rgba(118, 178, 159, 0.3);
  height: 40rem;
  margin-top: 10rem;
  position: relative; }
  @media only screen and (min-width: 50em) and (max-width: 56.25em) {
    .footer {
      margin-top: 0rem; } }

.main-header {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-color: #e3ded9; }
  @media only screen and (max-width: 37.5em) {
    .main-header {
      height: 90vh; } }

.section-card {
  background-image: linear-gradient(to bottom right, #76b29f, #1c6f55);
  min-height: 50rem;
  margin: auto;
  padding: 5rem 4rem;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.2);
  width: calc(100% - 6rem); }
  @media only screen and (max-width: 75em) {
    .section-card {
      padding: 4rem 3rem; } }
