// COLORS
$color-primary: #007c77; // Teal
$color-primary-light: #33a69b; // Soft Teal
$color-primary-x-light: #66c2b2; // Light Teal
$color-primary-dark: #004d46; // Dark Teal
$color-primary-x-dark: #003d38; // Deep Teal

$color-bg-primary: rgb(240, 245, 250); // Light Grayish Blue
$color-bg-secondary: rgba($color-primary-x-light, 0.2); // Light Teal Overlay

$color-grey-light-1: #f0f4f8; // Soft Gray
$color-grey-light-2: #e4e8eb; // Very Light Gray

$color-grey-dark-1: #4a5568; // Slate Gray
$color-grey-dark-2: #2d3748; // Charcoal Gray
$color-grey-dark-3: #1a202c; // Dark Slate

$color-white: #ffffff; // Pure White
$color-black: #10171e; // Dark Charcoal

// GRADIENT
$gradient-primary: linear-gradient(
  to bottom right,
  $color-primary-light,
  $color-primary-dark
);
$gradient-secondary: linear-gradient(
  to bottom right,
  $color-primary-x-light,
  $color-primary-dark
);
$gradient-tertiary: linear-gradient(
  to right bottom,
  $color-primary-x-light,
  $color-primary-light,
  $color-primary
);
$gradient-shine: linear-gradient(
  0deg,
  transparent 0%,
  rgba(255, 255, 255, 0.6) 50%,
  transparent
);

// EASING-FUNCTION
$default-easing-function: cubic-bezier(0.58, -0.01, 0.35, 1.33);

// TRANSITION
$primary-transition: all 0.3s $default-easing-function;

//SHADOW
$box-shadow-primary: 0 0.5rem 2rem rgba(0, 0, 0, 0.3);
$box-shadow-secondary: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.2);

// FONT
$default-font-size: 1.6rem;
$small-font-size: 1rem;
$medium-font-size: 2.2rem;
$large-font-size: 3rem;
$x-large-font-size: 5rem;

// GRID
$grid-gap-small: 1.2rem;
$grid-gap-medium: 1.6rem;
$grid-gap-large: 3rem;
$grid-gap: $grid-gap-medium;

//FON-WIGHT
$default-font-weight: 400;
$low-font-weight: 300;
$medium-font-weight: 500;
$hight-font-weight: 700;

//GAP
$default-gap: 2rem;
$gap-small: 1.5rem;
$gap-medium: 3rem;
$gap-large: 4rem;

// NAVIGATION
$nav-width: 10rem;
$nav-height: 10rem;
$nav-transition-delay: 0.9s;

//MENU
$menu-font-size: 2.2rem;
// ABOUT
$color-about-primary: rgba(
  102,
  194,
  178,
  0.6
); // Soft Teal with a lighter opacity for about section

// HR
$hr-primary: 1px solid currentcolor;
$hr-medium: 2px solid currentcolor;
$color-hr-primary: $color-primary-light; // Light Teal for primary horizontal rule
$color-hr-secondary: rgba(
  105,
  118,
  128,
  0.2
); // Soft muted grayish teal for secondary horizontal rule

//LINE-HIGHT
$default-line-hight: 2rem;
$small-line-hight: 1rem;
$medium-line-hight: 3rem;
$large-line-hight: 4rem;

//LETTER-SPACING
$default-letter-spacing: 2px;
$small-letter-spacing: 1px;
$medium-letter-spacing: 4px;
$large-letter-spacing: 5px;
