.container {
  width: 100%;
  background-color: $color-bg-primary;
}
.section {
  min-height: 100vh;
}
.about-section {
  opacity: 0;
  &.show-animate {
    animation: pop-out-about 1s $default-easing-function forwards;
  }
  padding: 1rem;
  padding-bottom: 10rem;
}

.profile-section {
  position: absolute;
  bottom: 8rem;
  height: 54rem; // nessesary other wise text will go to top on reload( for miliseconds)
  box-sizing: content-box;
  right: 5rem;
  display: flex;
  flex-direction: row-reverse;
  @include respond(tab-port) {
    top: 35%;
    right: 3rem;
  }
  @include respond(phone) {
    top: 33%;
  }
  padding-left: 3rem;
}

.skill-section {
  width: 100%;
  padding: 5rem 4rem;
  position: relative;
  overflow: hidden;
  user-select: none;
  background-color: $color-bg-secondary;
  padding-bottom: 10rem;
  z-index: 10;
  &::after {
    position: absolute;
    z-index: -1;
    content: "";
    width: 25rem;
    height: 25rem;
    top: 5rem;
    right: 3rem;
    opacity: 0.15;
    background-image: url(../../img/skill.png);
    background-size: cover;
    background-position: top right;
  }
  @media only screen and (max-width: 31.25em) {
    padding: 5rem 4rem 0rem 4rem;
  }
  @media only screen and (max-width: 26em) {
    width: 100%;
    overflow-x: scroll;
  }
}
.education-section {
  padding: 1rem;
}
.project-section {
  padding: 2rem;
  padding: 5rem 4rem;
  padding-bottom: 7rem;
  background-color: $color-bg-secondary;
}
.contact-section {
  opacity: 0;
  &.show-animate {
    animation: pop-out-about 1s $default-easing-function forwards;
  }
  padding: 1rem;
  padding-bottom: 10rem;
}

.footer {
  background-color: $color-bg-secondary;
  height: 40rem;
  margin-top: 10rem;
  position: relative;
  @media only screen and (min-width: 50em) and (max-width: 56.25em) {
    margin-top: 0rem;
  }
}
